header.header
	.header__top
		.container.header__container
			a.logo(href="index.html")
				img.logo__img(src="images/dist/logo.svg" alt="logotype company" width="164" height="62")
			form.search(action="search")
				details.search__details
					summary.search__summary Browse
						i.icon-caret-down
					.search__dropdown
						h5.search__title Woman
						ul.search__list
							li.search__item
								a.search__link(href="#") Dresses
							li.search__item
								a.search__link(href="#") Tops
							li.search__item
								a.search__link(href="#") Sweaters/Knits
							li.search__item
								a.search__link(href="#") Jackets/Coats
							li.search__item
								a.search__link(href="#") Blazers
							li.search__item
								a.search__link(href="#") Denim
							li.search__item
								a.search__link(href="#") Leggings/Pants
							li.search__item
								a.search__link(href="#") Skirts/Shorts
							li.search__item
								a.search__link(href="#") Accessories
						h5.search__title Men
						ul.search__list
							li.search__item
								a.search__link(href="#") Tees/Tank tops
							li.search__item
								a.search__link(href="#") Shirts/Polos
							li.search__item
								a.search__link(href="#") Sweaters
							li.search__item
								a.search__link(href="#") Sweatshirts/Hoodies
							li.search__item
								a.search__link(href="#") Blazers
							li.search__item
								a.search__link(href="#") Jackets/vests
				input(type="search" placeholder="Search for Item..." class="search__value")
				button.btn.search__btn(type="submit")
					i.icon-search
			details.cart
				summary.cart__summary
					i.icon-cart
				.cart__dropdown
					ul.cart__list
						li.cart__item
							a.cart__item-link(href="product.html")
								img.cart__img(src="images/dist/cart-1.jpg", alt="man" width="72" height="85")
								.cart__item-body
									p.cart__title Rebox Zane
									.cart__stars
										i.icon-star
										i.icon-star
										i.icon-star
										i.icon-star
										i.icon-star-half
									p.cart__price 1 x $250
							i.icon-cancel.cart__icon-cancel
						li.cart__item
							a.cart__item-link(href="product.html")
								img.cart__img(src="images/dist/cart-2.jpg", alt="woman" width="72" height="85")
								.cart__item-body
									p.cart__title Rebox Zane
									.cart__stars
										i.icon-star
										i.icon-star
										i.icon-star
										i.icon-star
										i.icon-star-half
									p.cart__price 1 x $250
							i.icon-cancel.cart__icon-cancel
					.cart__total
						.cart__total-text Total
						.cart__total-summ $500
					a.btn.cart__link.cart__link_first(href="checkout.html")  Checkout
					a.btn.cart__link(href="cart.html") Go to cart
			details.user
				summary.user__summary
					span.user__desctop My Account
					i.icon-user-circle.user__mobile
					i.icon-caret-down.user__desctop
				ul.user__dropdown
					li.user__item
						a.user__link(href='#') Login / Register
					li.user__item
						a.user__link(href='#') Support
			button.btn.hamburger(type="button")
				span.hamburger__line
	nav.navigation
		.container.navigation__container
			ul.menu
				li.menu__item.active
					a.menu__link.menu__link_home(href='index.html') Home
				li.menu__item
					a.menu__link(href='catalog.html') Man
					.submenu
						.submenu__col
							.submenu__item
								h5.submenu__item-title Man
								a.submenu__link(href="catalog.html") Dresses
								a.submenu__link(href="catalog.html") Tops
								a.submenu__link(href="catalog.html") Sweaters/Knits
								a.submenu__link(href="catalog.html") Jackets/Coats
								a.submenu__link(href="catalog.html") Blazers
								a.submenu__link(href="catalog.html") Denim
								a.submenu__link(href="catalog.html") Leggings/Pants
								a.submenu__link(href="catalog.html") Skirts/Shorts
								a.submenu__link(href="catalog.html") Accessories
						.submenu__col
							.submenu__item.submenu__item_mb
								h5.submenu__item-title Man
								a.submenu__link(href="catalog.html") Dresses
								a.submenu__link(href="catalog.html") Tops
								a.submenu__link(href="catalog.html") Sweaters/Knits
								a.submenu__link(href="catalog.html") Jackets/Coats
							.submenu__item
								h5.submenu__item-title Man
								a.submenu__link(href="catalog.html") Dresses
								a.submenu__link(href="catalog.html") Tops
								a.submenu__link(href="catalog.html") Sweaters/Knits
						.submenu__col
							.submenu__item.submenu__item_mb
								h5.submenu__item-title Man
								a.submenu__link(href="catalog.html") Dresses
								a.submenu__link(href="catalog.html") Tops
								a.submenu__link(href="catalog.html") Sweaters/Knits
								a.submenu__link(href="catalog.html") Jackets/Coats
							a.submenu__sale-box(href="#") 
								img.submenu__img(src="images/dist/menu-sale.jpg", alt="sale" width="255" height="118")
								p.submenu__text Super sale!
				li.menu__item
					a.menu__link(href="catalog.html") Women
					.submenu
						.submenu__col
							.submenu__item
								h5.submenu__item-title Woman
								a.submenu__link(href="catalog.html") Dresses
								a.submenu__link(href="catalog.html") Tops
								a.submenu__link(href="catalog.html") Sweaters/Knits
								a.submenu__link(href="catalog.html") Jackets/Coats
								a.submenu__link(href="catalog.html") Blazers
								a.submenu__link(href="catalog.html") Denim
								a.submenu__link(href="catalog.html") Leggings/Pants
								a.submenu__link(href="catalog.html") Skirts/Shorts
								a.submenu__link(href="catalog.html") Accessories
						.submenu__col
							.submenu__item.submenu__item_mb
								h5.submenu__item-title Woman
								a.submenu__link(href="catalog.html") Dresses
								a.submenu__link(href="catalog.html") Tops
								a.submenu__link(href="catalog.html") Sweaters/Knits
								a.submenu__link(href="catalog.html") Jackets/Coats
							.submenu__item
								h5.submenu__item-title Woman
								a.submenu__link(href="catalog.html") Dresses
								a.submenu__link(href="catalog.html") Tops
								a.submenu__link(href="catalog.html") Sweaters/Knits
						.submenu__col
							.submenu__item.submenu__item_mb
								h5.submenu__item-title Woman
								a.submenu__link(href="catalog.html") Dresses
								a.submenu__link(href="catalog.html") Tops
								a.submenu__link(href="catalog.html") Sweaters/Knits
								a.submenu__link(href="catalog.html") Jackets/Coats
							a.submenu__sale-box(href="#") 
								img.submenu__img(src="images/dist/menu-sale.jpg", alt="sale" width="255" height="118")
								p.submenu__text Super sale!
				li.menu__item
					a.menu__link(href="catalog.html") Kids
					.submenu
						.submenu__col
							.submenu__item
								h5.submenu__item-title Kids
								a.submenu__link(href="catalog.html") Dresses
								a.submenu__link(href="catalog.html") Tops
								a.submenu__link(href="catalog.html") Sweaters/Knits
								a.submenu__link(href="catalog.html") Jackets/Coats
								a.submenu__link(href="catalog.html") Blazers
								a.submenu__link(href="catalog.html") Denim
								a.submenu__link(href="catalog.html") Leggings/Pants
								a.submenu__link(href="catalog.html") Skirts/Shorts
								a.submenu__link(href="catalog.html") Accessories
						.submenu__col
							.submenu__item.submenu__item_mb
								h5.submenu__item-title Kids
								a.submenu__link(href="catalog.html") Dresses
								a.submenu__link(href="catalog.html") Tops
								a.submenu__link(href="catalog.html") Sweaters/Knits
								a.submenu__link(href="catalog.html") Jackets/Coats
							.submenu__item
								h5.submenu__item-title Kids
								a.submenu__link(href="catalog.html") Dresses
								a.submenu__link(href="catalog.html") Tops
								a.submenu__link(href="catalog.html") Sweaters/Knits
						.submenu__col
							.submenu__item.submenu__item_mb
								h5.submenu__item-title Kids
								a.submenu__link(href="catalog.html") Dresses
								a.submenu__link(href="catalog.html") Tops
								a.submenu__link(href="catalog.html") Sweaters/Knits
								a.submenu__link(href="catalog.html") Jackets/Coats
							a.submenu__sale-box(href="#") 
								img.submenu__img(src="images/dist/menu-sale.jpg", alt="sale" width="255" height="118")
								p.submenu__text Super sale!				
				li.menu__item
					a.menu__link(href="catalog.html") Accoseriese
					.submenu
						.submenu__col
							.submenu__item
								h5.submenu__item-title Accoseriese
								a.submenu__link(href="catalog.html") Dresses
								a.submenu__link(href="catalog.html") Tops
								a.submenu__link(href="catalog.html") Sweaters/Knits
								a.submenu__link(href="catalog.html") Jackets/Coats
								a.submenu__link(href="catalog.html") Blazers
								a.submenu__link(href="catalog.html") Denim
								a.submenu__link(href="catalog.html") Leggings/Pants
								a.submenu__link(href="catalog.html") Skirts/Shorts
								a.submenu__link(href="catalog.html") Accessories
						.submenu__col
							.submenu__item.submenu__item_mb
								h5.submenu__item-title Accoseriese
								a.submenu__link(href="catalog.html") Dresses
								a.submenu__link(href="catalog.html") Tops
								a.submenu__link(href="catalog.html") Sweaters/Knits
								a.submenu__link(href="catalog.html") Jackets/Coats
							.submenu__item
								h5.submenu__item-title Accoseriese
								a.submenu__link(href="catalog.html") Dresses
								a.submenu__link(href="catalog.html") Tops
								a.submenu__link(href="catalog.html") Sweaters/Knits
						.submenu__col
							.submenu__item.submenu__item_mb
								h5.submenu__item-title Accoseriese
								a.submenu__link(href="catalog.html") Dresses
								a.submenu__link(href="catalog.html") Tops
								a.submenu__link(href="catalog.html") Sweaters/Knits
								a.submenu__link(href="catalog.html") Jackets/Coats
							a.submenu__sale-box(href="#") 
								img.submenu__img(src="images/dist/menu-sale.jpg", alt="sale" width="255" height="118")
								p.submenu__text Super sale!
				li.menu__item
					a.menu__link(href="catalog.html") Featured
					.submenu
						.submenu__col
							.submenu__item
								h5.submenu__item-title Featured
								a.submenu__link(href="catalog.html") Dresses
								a.submenu__link(href="catalog.html") Tops
								a.submenu__link(href="catalog.html") Sweaters/Knits
								a.submenu__link(href="catalog.html") Jackets/Coats
								a.submenu__link(href="catalog.html") Blazers
								a.submenu__link(href="catalog.html") Denim
								a.submenu__link(href="catalog.html") Leggings/Pants
								a.submenu__link(href="catalog.html") Skirts/Shorts
								a.submenu__link(href="catalog.html") Accessories
						.submenu__col
							.submenu__item.submenu__item_mb
								h5.submenu__item-title Featured
								a.submenu__link(href="catalog.html") Dresses
								a.submenu__link(href="catalog.html") Tops
								a.submenu__link(href="catalog.html") Sweaters/Knits
								a.submenu__link(href="catalog.html") Jackets/Coats
							.submenu__item
								h5.submenu__item-title Featured
								a.submenu__link(href="catalog.html") Dresses
								a.submenu__link(href="catalog.html") Tops
								a.submenu__link(href="catalog.html") Sweaters/Knits
						.submenu__col
							.submenu__item.submenu__item_mb
								h5.submenu__item-title Featured
								a.submenu__link(href="catalog.html") Dresses
								a.submenu__link(href="catalog.html") Tops
								a.submenu__link(href="catalog.html") Sweaters/Knits
								a.submenu__link(href="catalog.html") Jackets/Coats
							a.submenu__sale-box(href="#") 
								img.submenu__img(src="images/dist/menu-sale.jpg", alt="sale" width="255" height="118")
								p.submenu__text Super sale!
				li.menu__item
					a.menu__link(href="catalog.html") Hot deals
					.submenu
						.submenu__col
							.submenu__item
								h5.submenu__item-title Hot deals
								a.submenu__link(href="catalog.html") Dresses
								a.submenu__link(href="catalog.html") Tops
								a.submenu__link(href="catalog.html") Sweaters/Knits
								a.submenu__link(href="catalog.html") Jackets/Coats
								a.submenu__link(href="catalog.html") Blazers
								a.submenu__link(href="catalog.html") Denim
								a.submenu__link(href="catalog.html") Leggings/Pants
								a.submenu__link(href="catalog.html") Skirts/Shorts
								a.submenu__link(href="catalog.html") Accessories
						.submenu__col
							.submenu__item.submenu__item_mb
								h5.submenu__item-title Hot deals
								a.submenu__link(href="catalog.html") Dresses
								a.submenu__link(href="catalog.html") Tops
								a.submenu__link(href="catalog.html") Sweaters/Knits
								a.submenu__link(href="catalog.html") Jackets/Coats
							.submenu__item
								h5.submenu__item-title Hot deals
								a.submenu__link(href="catalog.html") Dresses
								a.submenu__link(href="catalog.html") Tops
								a.submenu__link(href="catalog.html") Sweaters/Knits
						.submenu__col
							.submenu__item.submenu__item_mb
								h5.submenu__item-title Hot deals
								a.submenu__link(href="catalog.html") Dresses
								a.submenu__link(href="catalog.html") Tops
								a.submenu__link(href="catalog.html") Sweaters/Knits
								a.submenu__link(href="catalog.html") Jackets/Coats
							a.submenu__sale-box(href="#") 
								img.submenu__img(src="images/dist/menu-sale.jpg", alt="sale" width="255" height="118")
								p.submenu__text Super sale!

