footer.footer
	section.footer__top
		.container.footer__container
			.footer__comments.tabs
				.tabs__box
					figure#tab_1.tabs__item
						img.tabs__img(src="images/dist/avatar.jpg", alt="photo user" width="82" height="82")
						figcaption.tabs__text
							p.tabs__desc “Vestibulum quis porttitor dui! Quisque viverra nunc mi, a pulvinar purus condimentum a. Aliquam condimentum mattis neque sed pretium”
							h5.tabs__title Bin Burhan
							p.tabs__locality Dhaka, Bd
					figure#tab_2.tabs__item
						img.tabs__img(src="images/dist/avatar-2.jpg", alt="photo user" width="82" height="82")
						figcaption.tabs__text
							p.tabs__desc “Quisque viverra nunc mi, a pulvinar purus condimentum a. Aliquam condimentum mattis neque sed pretium”
							h5.tabs__title Bin Burhan
							p.tabs__locality Dhaka, Bd
					figure#tab_3.tabs__item
						img.tabs__img(src="images/dist/avatar-3.jpg", alt="photo user" width="82" height="82")
						figcaption.tabs__text
							p.tabs__desc “Vestibulum quis porttitor dui! Quisque viverra nunc mi, a pulvinar purus condimentum a.”
							h5.tabs__title Bin Burhan
							p.tabs__locality Dhaka, Bd
				.tabs__navigation
					span.tabs__btn(data-tab="#tab_1")
					span.tabs__btn(data-tab="#tab_2")
					span.tabs__btn(data-tab="#tab_3")
			.footer__subscribe.subscribe
				.subscribe__box
					h2.subscribe__title Subscribe
					p.subscribe__desc For our newletter and promotion
					form(method="POST" autocomplete="off" novalidate).subscribe__form
						input#subscribe.subscribe__value(type="email" name="subscribe" placeholder="Enter Your Email")
						button.btn.subscribe__btn(type="submit") Subscribe
	.footer__info
		.container.footer__container
			.footer__brand
				a.footer__logo.logo(href="index.html")
					img.logo__img(src="images/dist/logo.svg" alt="logotype company" width="164" height="62")
				.footer__desc
					p Objectively transition extensive data rather than cross functional solutions. Monotonectally syndicate multidisciplinary materials before go forward benefits. Intrinsicly syndicate an expanded array of processes and cross-unit partnerships.
					p Efficiently plagiarize 24/365 action items and focused infomediaries. Distinctively seize superior initiatives for wireless technologies. Dynamically optimize.
			ul.footer__menu
				li.footer__menu-item Company
					ul.footer__submenu
						li.footer__submenu-item
							a.footer__submenu-link(href="/") Home
						li.footer__submenu-item
							a.footer__submenu-link(href="catalog.html") Shop
						li.footer__submenu-item
							a.footer__submenu-link(href="#") About
						li.footer__submenu-item
							a.footer__submenu-link(href="#") How It Works
						li.footer__submenu-item
							a.footer__submenu-link(href="#") Contact
				li.footer__menu-item Information
					ul.footer__submenu
						li.footer__submenu-item
							a.footer__submenu-link(href="#") Tearms & Condition
						li.footer__submenu-item
							a.footer__submenu-link(href="#") Privacy Policy
						li.footer__submenu-item
							a.footer__submenu-link(href="#") How to Buy
						li.footer__submenu-item
							a.footer__submenu-link(href="#") How to Sell
						li.footer__submenu-item
							a.footer__submenu-link(href="#") Promotion
				li.footer__menu-item Shop category
					ul.footer__submenu
						li.footer__submenu-item
							a.footer__submenu-link(href="catalog.html") Men
						li.footer__submenu-item
							a.footer__submenu-link(href="catalog.html") Women
						li.footer__submenu-item
							a.footer__submenu-link(href="catalog.html") Child
						li.footer__submenu-item
							a.footer__submenu-link(href="catalog.html") Apparel
						li.footer__submenu-item
							a.footer__submenu-link(href="catalog.html") Brows All
	.footer__copyright
		.container.footer__container
			p.copyright © 2021  Brand  All Rights Reserved.
			.social
				a.social__link(href="https://www.facebook.com/" target="blank") 
					i.icon-facebook
				a.social__link(href="https://twitter.com/" target="blank") 
					i.icon-twitter
				a.social__link(href="https://ru.linkedin.com/" target="blank") 
					i.icon-linkedin
				a.social__link(href="https://www.pinterest.ru/" target="blank") 
					i.icon-pinterest-p
				a.social__link(href="https://plus.google.com/" target="blank") 
					i.icon-google