footer.footer
	section.footer__top
		.container
			.footer__comments.slider
				.slider__box
					figure.slider__item
						img.slider__img(src="images/dist/avatar.jpg", alt="photo user")
						figcaption.slider__text
							p.slider__desc “Vestibulum quis porttitor dui! Quisque viverra nunc mi, a pulvinar purus condimentum a. Aliquam condimentum mattis neque sed pretium”
							h5.slider__title Bin Burhan
							p.slider__locality Dhaka, Bd
				.slider__navigation
					span.slider__btn
					span.slider__btn.active
					span.slider__btn
			.footer__subscribe.subscribe
				.subscribe__box
					h2.subscribe__title Subscribe
					p.subscribe__desc For our newletter and promotion
					form(method="POST" autocomplete="off" novalidate).subscribe__form
						input(type="tel" name="email" placeholder="Enter Your Email")#email.subscribe__value
						button#submit.btn.subscribe__btn Subscribe
	.footer__info
		.container
			.footer__brand
				a.footer__logo.logo(href='/')
					img.logo__img(src='images/dist/logo.svg' alt='logotype company')
				.footer__desc
					p Objectively transition extensive data rather than cross functional solutions. Monotonectally syndicate multidisciplinary materials before go forward benefits. Intrinsicly syndicate an expanded array of processes and cross-unit partnerships.
					p Efficiently plagiarize 24/365 action items and focused infomediaries. Distinctively seize superior initiatives for wireless technologies. Dynamically optimize.
			ul.footer__menu
				li.footer__menu-item Company
					ul.footer__submenu
						li.footer__submenu-item
							a.footer__submenu-link(href="#") Home
						li.footer__submenu-item
							a.footer__submenu-link(href="#") Shop
						li.footer__submenu-item
							a.footer__submenu-link(href="#") About
						li.footer__submenu-item
							a.footer__submenu-link(href="#") How It Works
						li.footer__submenu-item
							a.footer__submenu-link(href="#") Contact
				li.footer__menu-item Information
					ul.footer__submenu
						li.footer__submenu-item
							a.footer__submenu-link(href="#") Tearms & Condition
						li.footer__submenu-item
							a.footer__submenu-link(href="#") Privacy Policy
						li.footer__submenu-item
							a.footer__submenu-link(href="#") How to Buy
						li.footer__submenu-item
							a.footer__submenu-link(href="#") How to Sell
						li.footer__submenu-item
							a.footer__submenu-link(href="#") Promotion
				li.footer__menu-item Shop category
					ul.footer__submenu
						li.footer__submenu-item
							a.footer__submenu-link(href="#") Men
						li.footer__submenu-item
							a.footer__submenu-link(href="#") Women
						li.footer__submenu-item
							a.footer__submenu-link(href="#") Child
						li.footer__submenu-item
							a.footer__submenu-link(href="#") Apparel
						li.footer__submenu-item
							a.footer__submenu-link(href="#") Brows All
		
	.footer__copyright
		.container
			p.copyright © 2021  Brand  All Rights Reserved.
			.social
				a.social__link(href="#") 
					i.icon-facebook
				a.social__link(href="#") 
					i.icon-twitter
				a.social__link(href="#") 
					i.icon-linkedin
				a.social__link(href="#") 
					i.icon-pinterest-p
				a.social__link(href="#") 
					i.icon-google