.conditions
	padding: 84px 0
	background: #272729
	color: #fbfbfb
	&__box
		@media only screen and (min-width : 768px)
			display: flex
	&__item
		margin: 0 auto
		margin-bottom: 30px
		max-width: 280px
		text-align: center
		&:last-of-type
			margin-bottom: 0
		@media only screen and (min-width : 768px)
			margin: 0
			max-width: 380px
			flex: 1 0 31%
			justify-content: space-between
			text-align: center
	&__icon
		margin-bottom: 15px
		width: 100%
		height: 60px
		line-height: 60px
		display: inline-block
		font-size: 32px
	&__title
		margin-bottom: 10px
		font-family: $lato-bold
		font-size: 20px
		font-weight: 700
	&__desc
		line-height: 24px
		font-size: 14px