.conditions
	.conditions__item
		i.icon-truck.conditions__icon
		.conditions__text
			h3.conditions__title Free Delivery
			p.conditions__desc Worldwide delivery on all. Authorit tively morph next-generation innov tion with extensive models.
	.conditions__item
		i.icon-sale.conditions__icon
		.conditions__text
			h3.conditions__title Sales & discounts
			p.conditions__desc Worldwide delivery on all. Authorit tively morph next-generation innov tion with extensive models.
	.conditions__item
		i.icon-corona.conditions__icon
		.conditions__text
			h3.conditions__title Quality assurance
			p.conditions__desc Worldwide delivery on all. Authorit tively morph next-generation innov tion with extensive models.
	