.conditions
	padding: 28px 36px
	background: #272729
	color: #fbfbfb
	&__item
		padding-top: 22px
		padding-bottom: 13px
		display: flex
	&__icon
		flex: 1 0 47px
		display: block
		font-size: 32px
	&__text
		margin-left: 30px
	&__title
		margin-bottom: 10px
		font-family: $lato-bold
		font-size: 20px
		font-weight: 700
	&__desc
		line-height: 24px
		font-size: 14px