@use 'sass:math'
@import config
@import 'blocks/**/*'
@import '../components/header/style'
@import '../components/footer/style'
@import '../components/breadcrumbs/style'
@import '../components/conditions/horizontal'
	
.content
	background: #fff
	&__header
		padding: 10px
		background: #f6f3f3
		@media only screen and (min-width : 576px)
			padding: 0
		.container
			text-align: center
			@media only screen and (min-width : 576px)
				min-height: 100px
				display: flex
				justify-content: space-between
				align-items: center
			@media only screen and (min-width : 1024px)
				min-height: 148px
	&__title
		margin-bottom: 0
		font-family: $lato-black
		font-size: 24px
		font-weight: 800
		text-transform: uppercase
		letter-spacing: normal
		color: $accent
	&__box
		padding-top: 40px
		margin-bottom: 110px
		@media only screen and (min-width : 576px)
			padding-top: 40px
		@media only screen and (min-width : 1024px)
			padding-top: 60px
			display: flex
			justify-content: space-between
.sidebar
	display: none
	@media only screen and (min-width : 1024px)
		display: block
		flex: 0 0 260px
	&__details
		margin-bottom: 18px
		&[open]
			.sidebar__summery
				color: $accent
			.icon-caret-down
				transform: rotate(180deg)
	.icon-caret-down
		transition: transform $transition
	&__summery
		position: relative
		padding-left: 15px
		padding-right: 22px
		line-height: 36px
		display: flex
		justify-content: space-between
		align-items: center
		font-family: $lato-bold
		font-size: 14px
		font-weight: 700
		text-transform: uppercase
		color: #6e6e6e
		border-bottom: 1px solid #eaeaea
		transition: color $transition
		cursor: pointer
		&::before
			position: absolute
			left: 0
			top: 0
			content: ''
			display: inline-block
			width: 5px
			height: 37px
			background: $accent
		&:hover
			color: $accent
	&__list
		padding: 10px 0
	&__link
		padding: 0 18px
		display: block
		line-height: 33px
		font-family: $lato-regular
		color: #6e6e6e
		transition: color $transition
		&:hover
			color: $accent
.products
	@media only screen and (min-width : 1024px)
		max-width: 670px
	@media only screen and (min-width : 1280px)
		max-width: 850px
	&__filter
		margin-bottom: 48px
	&__body
		margin-bottom: 16px
		@media only screen and (min-width : 576px)
			display: flex
			flex-direction: row
			flex-wrap: wrap
			justify-content: space-between
	&__item
		margin: 0 auto
		margin-bottom: 42px
		max-width: 260px
		position: relative
		@media only screen and (min-width : 576px)
			margin-left: 0
			margin-right: 0
			flex-basis: 31%
		@media only screen and (min-width : 1280px)
			flex-basis: 260px
		&:hover
			.product
				box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.16)
			.product__buttons
				z-index: 1001
				opacity: 1
			.product__img
				filter: brightness(30%)
		&:nth-last-child(-n+3)
			margin-bottom: 20px
	&__footer
		text-align: center
		@media only screen and (min-width : 576px)
			display: flex
			justify-content: space-between
			align-items: center
			text-align: left
	&__btn
		padding: 0 46px
		line-height: 42px
		font-family: $lato-light
		font-size: 16px
		font-weight: 300
		color: $accent
		background: #fff
		border: 1px solid $accent
		border-radius: 3px
		&:hover
			background: $accent
			color: #fff
.filter
	padding-top: 5px
	&__top
		margin-bottom: 30px
		@media only screen and (min-width : 768px)
			display: flex
			justify-content: space-between
	&__col
		margin-bottom: 20px
		max-width: 370px
		@media only screen and (min-width : 768px)
			margin-bottom: 0
			width: 220px
		@media only screen and (min-width : 1280px)
			width: 260px
	&__title
		margin-bottom: 15px
		line-height: 20px
		font-family: $lato-bold
		font-size: 14px
		font-weight: 700
		text-transform: uppercase
		&_bottom
			margin-bottom: 0
			padding: 0 10px 
			line-height: 28px
			font-family: $lato-regular
			font-size: 14px
			font-weight: 400
			text-transform: capitalize
			color: #6e6e6e
			background: #fff
			border: 1px solid #eaeaea
	&__item
		margin-right: 5px
		margin-bottom: 6px
		padding-right: 5px
		line-height: 1
		font-family: $lato-regular
		font-size: 14px
		font-weight: 400
		color: #6e6e6e
		border-right: 2px solid #e7e7e7
		cursor: pointer
		transition: color $transition
		@media only screen and (min-width : 1280px)
			margin-right: 10px
			padding-right: 10px
		&:hover
			color: $accent
		&_not
			@media only screen and (min-width : 768px)
				border-right: none
		&_size
			margin-bottom: 10px
			text-transform: uppercase
			border-right: none
			display: inline-flex
			align-items: center
			&::before
				margin-right: 10px
				content: ''
				display: inline-block
				width: 13px
				height: 13px
				border: 1px solid #eaeaea
	&__chekbox
		position: absolute
		z-index: -1000
		opacity: 0
		&:checked + .filter__item
			color: $accent
		&:checked + .filter__item_size::before
			border-color: $accent
			background-color: $accent
			background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e")
	&__range
		margin-bottom: 9px
		width: 100%
	&__bottom
		display: none
		padding: 10px 9px
		background: #f3f3f3
		@media only screen and (min-width : 576px)
			display: flex
	&__dropdown
		margin-left: -1px
		margin-right: 9px
		padding-left: 5px
		padding-right: 10px
		line-height: 28px
		font-family: $lato-regular
		font-size: 14px
		font-weight: 400
		color: #6e6e6e
		background: #fff
		outline: none
		border: 1px solid #eaeaea
		cursor: pointer
.product
	position: relative
	display: block
	color: #6e6e6e
	transition: box-shadow $transition
	&__img
		display: flex
		width: 100%
		height: auto
		transition: filter $transition
	&__buttons
		width: 120px
		position: absolute
		top: 100px
		left: 50%
		transform: translateX(-50%)
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		z-index: -100
		opacity: 0
		transition: opacity $transition
	&__btn
		padding: 8px 15px
		display: flex
		flex-direction: row-reverse
		align-items: center
		flex-wrap: nowrap
		font-size: 13px
		color: #fff
		border: 1px solid #fff
		border-radius: 3px
		transition: color $transition, border-color $transition 
		&_big
			margin-bottom: 10px
			padding: 8px
		.icon-cart
			margin-right: 10px
			font-size: 22px
			font-weight: 400
		.icon-repeat
			font-size: 22px
			font-weight: 400
		.icon-heart-o
			font-size: 22px
			font-weight: 400
		&:hover
			color: $accent
			border-color: $accent
	&__info
		padding: 15px
		@media only screen and (min-width : 1024px)
			padding: 18px 16px
			padding-bottom: 16px
	&__title
		margin-bottom: 5px
		font-family: $lato-regular
		font-size: 13px
		font-weight: 400
		text-transform: uppercase
		color: $textcolor-heading
	&__price
		letter-spacing: 1px
		font-family: $lato-bold
		color: $accent
.pagination
	margin-bottom: 20px
	display: inline-flex
	justify-content: center
	border: 1px solid #eaeaea
	border-radius: 3px
	@media only screen and (min-width : 576px)
		margin-bottom: 0
	&__item
		&.active
			.pagination__link
				color: $accent
		&_dots
			padding: 0
			line-height: 42px
			color: #c3c3c3
	&__link
		padding: 0 8px
		display: block
		line-height: 42px
		font-family: $lato-light
		font-size: 16px
		color: #c3c3c3
		&:hover
			color: $accent
		&_prev
			padding: 0 9px
			font-size: 20px
			transform: rotate(90deg)
		&_next
			padding: 0 9px
			font-size: 20px
			transform: rotate(-90deg)

