@use 'sass:math'
@import config
@import 'blocks/**/*'
@import '../components/preloader/style'
@import '../components/header/style'
@import '../components/footer/style'
@import '../components/conditions/vertical'

.content
	&__header
		margin-bottom: 60px
		height: 83vh
		background-image: url(../images/dist/banner.jpg)
		background-size: cover
		background-repeat: no-repeat
		background-position: 60% center
		@media only screen and (min-width : 768px)
			margin-bottom: 80px
		@media only screen and (min-width : 1024px)
			margin-bottom: 100px
			height: 613px
			background-position: center
	&__container
		height: 100%
		display: flex
		align-items: center
	&__title
		padding-left: 12px
		position: relative
		line-height: 0.72
		font-family: $lato-black
		font-size: 36px
		font-weight: 800
		text-transform: uppercase
		letter-spacing: 1px
		color: #272727
		@media only screen and (min-width : 576px)
			margin-top: -75px
			padding-left: 25px
			font-size: 60px
		&::after
			content: ''
			position: absolute
			top: 0
			left: 0
			display: block
			width: 5px
			height: 100%
			background-color: $accent
			@media only screen and (min-width : 576px)
				width: 12px
		&_small
			margin-top: 10px
			display: block
			font-size: 22px
			@media only screen and (min-width : 576px)
				margin-top: 20px
				font-size: 40px
		&_pinc
			color: $accent
.offers
	margin-bottom: 40px
	@media only screen and (min-width : 576px)
		display: flex
		flex-direction: row
		flex-wrap: nowrap
		justify-content: space-between
	@media only screen and (min-width : 768px)
		margin-bottom: 60px
	@media only screen and (min-width : 1024px)
		margin-bottom: 85px
	&__col
		@media only screen and (min-width : 576px)
			flex-basis: 260px
		@media only screen and (min-width : 768px)
			flex-basis: 350px
		@media only screen and (min-width : 1024px)
			flex-basis: 470px
		@media only screen and (min-width : 1280px)
			flex-basis: 560px
		&_rewers
			display: flex
			flex-direction: column-reverse
			@media only screen and (min-width : 576px)
				display: block
	&__card
		margin-bottom: 20px
		position: relative
		display: flex
		color: #272727
		&:hover
			color: #272727
			.offers__img
				filter: brightness(50%)
		@media only screen and (min-width : 576px)
			&:last-of-type
				margin-bottom: 0
	&__img
		width: 100%
		height: auto
		transition: $transition
	&__title
		padding: 10px 18px
		position: absolute
		top: 20px
		line-height: 1.38
		letter-spacing: 0.69px
		display: inline-block
		font-family: $lato-black
		font-size: 14px
		font-weight: 800
		text-transform: uppercase
		background: #fff
		z-index: 1
		@media only screen and (min-width : 768px)
			font-size: 18px
		@media only screen and (min-width : 1024px)
			top: 25px
		&_big
			display: block
			font-size: 18px
			color: $accent
			@media only screen and (min-width : 768px)
				font-size: 30px
.products
	margin-bottom: 60px
	@media only screen and (min-width : 768px)
		margin-bottom: 80px
	@media only screen and (min-width : 1024px)
		margin-bottom: 115px
	&__header
		margin-bottom: 30px
		text-align: center
		@media only screen and (min-width : 768px)
			margin-bottom: 55px
	&__title
		margin-bottom: -4px
		line-height: 50px
		font-family: lato-bold
		font-size: 30px
		font-weight: 700
		color: #272727
	&__desc
		margin: 0
		font-family: lato-regular
		color: #9e9e9e
	&__body
		margin-bottom: 20px
		@media only screen and (min-width : 576px)
			display: flex
			flex-wrap: wrap
			justify-content: space-between
	&__item
		margin: 0 auto
		margin-bottom: 42px
		max-width: 260px
		position: relative
		perspective: 200px
		&:hover
			@media only screen and (min-width : 1024px)
				.product
					box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.16)
					transform: rotateY(180deg) scale(-1, 1)
				.product__btn
					z-index: 1001
					opacity: 1
					transform: translateX(-50%) scaleX(1)
				.product__img
					filter: brightness(50%)
		@media only screen and (min-width : 576px)
			margin: 0 0 42px 0
			flex-basis: 260px
		@media only screen and (min-width : 768px)
			max-width: none
			flex-basis: 350px
		@media only screen and (min-width : 1024px)
			flex-basis: 225px
		@media only screen and (min-width : 1280px)
			flex-basis: 260px
	&__footer
		text-align: center
	&__btn
		padding: 0 17px
		display: inline-block
		align-items: center
		line-height: 46px
		font-size: 16px
		color: #fff
		background: $accent
		border: 1px solid $accent
		border-radius: 3px
		&:hover
			background: #fff
			color: $accent
		.icon-long-arrow-right
			margin-left: 15px
.product
	position: relative
	display: block
	color: #6e6e6e
	transition: 0.3s ease
	&__img
		display: flex
		width: 100%
		height: auto
		transition: $transition
	&__btn
		padding: 0 8px
		line-height: 36px
		display: inline-flex
		flex-direction: row-reverse
		align-items: center
		flex-wrap: nowrap
		position: absolute
		top: 98px
		left: 50%
		transform: translateX(-50%) scaleX(0)
		font-size: 13px
		color: #fff
		border: 1px solid #fff
		border-radius: 3px
		z-index: -100
		opacity: 0
		transition: $transition
		.icon-cart
			margin-right: 10px
			font-size: 22px
			font-weight: 400
		&:hover
			color: $accent
			border-color: $accent
	&__info
		padding: 15px
		text-align: center
		@media only screen and (min-width : 576px)
			text-align: left
	&__title
		margin-bottom: 5px
		font-family: $lato-regular
		font-size: 13px
		font-weight: 400
		text-transform: uppercase
		color: $textcolor-heading
	&__price
		letter-spacing: 1px
		font-family: lato-bold
		color: $accent
.banner
	margin-bottom: 60px
	@media only screen and (min-width : 768px)
		margin-bottom: 80px
		display: flex
	@media only screen and (min-width : 1024px)
		margin-bottom: 96px
	&__link
		display: flex
		transition: $transition
		&:hover
			box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.2)
			transform: scale(1.1)
	&__img
		width: 100%
		height: 100%
		object-fit: cover
